extends layout

block content
	.contenedor
		input#busqueda.casilla(type='text' placeholder='Buscar...')
		table#verLista
			tr
				th Nombre
				th Apellido
				th Teléfono
				th.email Email

			each usuario in usuarios

				tr(id=usuario.id).aBuscar
					td #{usuario.nombre}
					td #{usuario.apellido}
					td #{usuario.telefono}
					td.email #{usuario.email}